.main {
  padding: 2em;
}

.guide {
  font-family: arial;
  color: #9C9C9C;
  margin-bottom: 1em;
}

.input {
  display: inline;
  margin-right: 1em;
  height: 35px;
}

.button {
  display: inline-block;
  background-color: rgb(7, 71, 166);
  color: #fff;
  margin-top: 2em;
  border: none;
  padding: 5px 15px 0px;
  font-size: 18px;
  height: 35px;
}

.loading {
  color: rgb(7, 71, 166);
  font-family: arial;
  font-size: 24px;
  margin: 1em 0;
}

.error {
  color: red;
  font-family: arial;
  font-size: 24px;
  margin: 1em 0;
}

.results {
  margin-top: 1em;
  display: flex;
  flex-flow: row wrap;
}

.worker {
  font-family: arial;
  margin: 1em 2em 1em 0;
  padding: 1em;
  border: 1px solid #9C9C9C;
  border-radius: 10px;
  text-align: center;
}

.workerName {
  font-size: 24px;
  margin-bottom: 1em;
}

.infoContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.infoHeader {
  font-size: 20px;
}

.commits {
  margin-left: 2em;
}

.commit {
  padding: 0.5em 1em;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #D9EFF6;
}

.commitName {
  font-weight: 600;
  margin-bottom: 5px;
}

.commitDate {
  font-size: 16px;
  color: #494949;
}

.issues {
  text-overflow: clip;
}

.issue {
  background-color: #D9F6E4;
  padding: 0.5em 1em;
  margin-bottom: 10px;
  border-radius: 10px;
}

.issueName {
  font-weight: 600;
  margin-bottom: 5px;
}

.kind {
  font-weight: 600;
  color: #67766D;
  display: inline;
}

.priority {
  display: inline;
}
.issueState {
  display: inline;
}

.time {
  font-size: 16px;
  color: #494949;
}
